body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: fixed;
  background-image: url(../images/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000b0f;  
  margin-left: 300px;
  margin-top: 400px;
}

h1{
  color: #000b0f; 

}

a {
  color: #000b0f; 
}